.flex-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.flex-item-one {
    display: flex;
    height: 51px;
}

.flex-item-two{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;
    width: 200px;
}


.api {
    text-align: center;
    padding: 10px;
    color: ivory;
    width: 110px;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.api:hover {
    box-shadow: 0px 0px 4px 1px #242582;
    border-color: #333;
    color: #F64C72;
}

.curl {
    text-align: center;
    padding: 10px;
    color: ivory;
    width: 110px;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.curl:hover {
    box-shadow: 0px 0px 4px 1px #242582;
    border-color: #333;
    color: #F64C72;
}
